<!DOCTYPE html>
<!--
	(/) Draw
	(/) When start remove input board generator
	(/) Disable a tag pushed
	( ) Layout (Color&Design)
	( ) May do computer side
	(/) First page to choose mode (1Player/2Player)
	( ) Will look how to set DB in git hub -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>XOgame</title>

<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/script.js"></script>

<script type="text/javascript">

	
</script>
</head>
<body>
<div class="center" style="height: 20vh;">
	<button class="btn play-btn" onclick="mainmenu()">Main menu</button>
	<button class="btn play-btn" onclick="replay()">Replay</button>
	<button class="btn play-btn" onclick="restart()">Restart</button>
</div>
	
	
	<p id="size_txt">size: N x N</p>
	
	<div id="board" style="height: 80vh; padding: 0 20%;"></div>
	
	<input type="hidden" id="size" th:value="${size}">
	<input type="hidden" id="turnCount" th:value="${turnCount}">
</body>
</html>